body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
.menu {
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    /* background: linear-gradient(to right, #b3ffab, #12fff7); */
    background: linear-gradient(to left, #f0f2f0, #000c40);
    position: fixed;
    height: 100%;
    overflow: auto;
}
.menu > div > a{
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}   

.menu > div > a:hover{    
    /* background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); */
    background: linear-gradient(to right, #000c40, #302b63, #24243e);
    color: white;
}

.submenu{
    float: right;
    overflow: hidden;
}

.submenu-content{
    float: right;
    display: none;
    position: sticky;
    right: 0%;
    background: linear-gradient(to right, #ee9ca7, #f0f2f0);
    width: 90%;
    z-index: 1;
}

.submenu-content > a{
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 90%;
}

.submenu-content > a:hover{
    background: linear-gradient(to right, #ee9ca7, #240b36);
    color: white;
}

.submenu:hover .submenu-content{
    display: block;
}

.content{
    margin-left: 15%;
    padding: 1px 16px;
    height: 1000px;
    background: #f0f2f0;
}   

@media only screen and (max-width: 600px){
    .menu{
        width: 30%;
        font-size: 60%;
    }
    
    .content{
        margin-left: 30%;
    }
    
    .submenu-content{
        width: 80%;
    }
}