.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 5px #1C0C5B, 0px 0px 5px 5px #1C0C5B, 0px 0px 5px 5px #1C0C5B;
    margin: 3em;
    padding: 10px; 
    transform: translateY(0px);
    transition-duration: 0.5s;
    flex: 1 1 auto;
}

.post:hover {
    box-shadow: inset 0px 0px 6px 6px #C996CC, 0px 0px 6px 6px #C996CC;
    transition-duration: 0.5s;
}

.post:active {
    box-shadow: inset 0px 0px 8px 8px #3D2C8D, 0px 0px 8px 8px #3D2C8D, 0px 0px 8px 8px #3D2C8D;
    transform: translateY(-2px);
    transition-duration: 0.5s;
}

.post a{
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    order: 1;
    color: #88d00b;
}

.post a:active{
    color: red;
}

.post p{
    font-family: 'Roboto Mono', monospace;
    order: 2;
    color: white;
    flex-basis: auto;
}