.post {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 5px #0f2027, 0px 0px 5px 5px #203a43, 0px 0px 5px 5px #2c5364;
    margin: 3em;
    padding: 10px; 
    transform: translateY(0px);
    transition-duration: 0.5s;
}

.post:hover {
    box-shadow: inset 0px 0px 5px 5px #0f0c29, 0px 0px 5px 5px #302b63, 0px 0px 5px 5px #24243e;
    transition-duration: 0.5s;
}

.post:active {
    box-shadow: inset 0px 0px 5px 5px #0f0c29, 0px 0px 5px 5px #deffa4, 0px 0px 5px 5px #88d00b;
    transform: translateY(-2px);
    transition-duration: 0.1s;
}

.post p{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
}