html{
    background-image: url("../images/background.jpg");
    background-size: cover;
}

body{
    margin: 0px;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(18,23,55,255); 
    min-height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0px 13px 15px 11px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 13px 15px 11px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 13px 15px 11px rgba(0,0,0,0.5);
} 

.title{
    display: flex;
    justify-content: center;
    color: white;
    background:  #FA1085;
}

.title h2{
    margin: 0px;
    padding: 0px;
    text-shadow: 3px 2px 16px #1C0C5B;
}

.menu{
    display: flex;
    margin: 0px;
    background: #2B20BC;
}

.submenu{
    display: inherit;
    align-items: stretch;
}

.submenu a{
    color: rgb(213, 195, 195);
    padding: 10px; /* Es el espaciado interior */
    text-decoration: none;
    position: relative; 
    transition-duration: 0.5s;
    text-shadow: 3px 2px 16px #1C0C5B;
}

.submenu a:hover{
    background-color: #1C0C5B;
    transition-duration: 0.5s;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    border: 4px solid #FFFFFF;
    border-top-color: #916BBF;
    border-bottom-color: #916BBF;
    animation: loader 2s infinite ease;
}

.content{
    display: flex;
    justify-content: center;
}

@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
@media only screen and (max-width: 600px) {
    .menu{
        font-size: 60%;
    }
}