html{
    background-image: url("../images/background.jpg");
    background-size: cover;
}

body{
    margin: 0px;
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    min-height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 13px 15px 11px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 13px 15px 11px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 13px 15px 11px rgba(0,0,0,0.5);
} 

.menu{
    order: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    background: #2B20BC;
}

.submenu a{
    display: flex;
    color: rgb(213, 195, 195);
    flex-basis: auto;
    padding: 10px; /* Es el espaciado interior */
    text-decoration: none;
    position: relative;
    transform: translateY(0px);
    transition-duration: 0.5s;
}

.submenu a:hover{
    background-color: #1C0C5B;
    transition-duration: 0.5s;
}

.submenu a:active{
    transition-duration: 0.5s;
}

.smenu{
    visibility: hidden;
    display: none;
    position: absolute;
    list-style: none;
}

.submenu:hover .smenu{
    display: flex;
    flex-flow: column wrap;
    visibility: visible;
    background: linear-gradient(to bottom, #2B20BC 50%, #A01CA3);
    position: absolute;
    z-index: 1;
}


.windows{
    font-family: 'Roboto Mono', monospace;
    font-size: 80%;
    display: flex;
    margin-left: 2em;
    flex-flow: row;
    align-items: stretch;
    color: aliceblue;
}

.window{
    margin-top: 2em;
    background-color: #FFCC33;
    margin-right: 5%;
    border: 1px solid rgba(255, 255, 255, 0.479);
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.685) inset, 0px 0px 5px 3px rgba(255, 255, 255, 0.685);
}

.window h2{
    color: black;
}

.lights-off-window{
    margin-top: 2em;
    margin-right: 5%;
    color: black;
    transition: 0.5s;
}

.lights-off-window:hover{
    background-color: #FFCC33;
    border: 1px solid rgba(255, 255, 255, 0.479);
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.685) inset, 0px 0px 5px 3px rgba(255, 255, 255, 0.685);
    transition: 0.5s;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    border: 4px solid #FFFFFF;
    border-top-color: #916BBF;
    border-bottom-color: #916BBF;
    animation: loader 2s infinite ease;
}

@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
@media only screen and (max-width: 600px) {
    .menu{
        font-size: 60%;
        justify-content: space-between;
    }
}