body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.menu{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
}

.submenu a{
    display: flex;
    color: rgb(213, 195, 195);
    flex-basis: auto;
    padding: 10px; /* Es el espaciado interior */
    text-decoration: none;
    position: relative;
}

.submenu a:hover{
    color: white;
}

.submenu a:active{
    background: linear-gradient(to top, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0px 3px #88d00b;
    transform: translateY(-2px);
}


.smenu{
    visibility: hidden;
    display: none;
    position: absolute;
    transition: all 0.5s ease;
    list-style: none;
}

.submenu:hover .smenu{
    display: flex;
    flex-flow: column wrap;
    visibility: visible;
    background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
    position: absolute;
}